@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.KnobArc {
	width: auto;
	height: auto;
	position: absolute;
	top: 32%;
	left: 50%;
	transform: translate(-50%, -50%);

	& > svg > path {
		transition: stroke-dasharray 0.1s ease-in-out;
	}
}
