@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.EffectColumn {
	width: 15rem;
	height: var(--synthyFXHeight);
	border-radius: 1rem;
	padding: var(--synthyFXPadding);
	border-color: var(--synthyBorder);
	@include flex_col(flex-start, center);
	gap: 0 1rem;

	& legend {
		text-align: center;
		font-size: 1.8rem;
		border-color: var(--border);
		color: var(--synthyFXLabel);
		padding: 0 1rem;
	}

	&_main {
		@include flex_col(flex-start, center);
		gap: 2rem;
	}
}
