@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

@mixin btn() {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-color: transparent;
	@include flex_row(center, center);
	border: 1px solid var(--border);
	cursor: pointer;

	&_icon {
		width: 2.7rem;
		height: 2.7rem;
	}

	&:disabled {
		opacity: 0.2;
		cursor: not-allowed;
	}
}

.SynthyRecordingPanel {
	width: 100%;
	height: 6rem;
	background-color: var(--synthyBG);
	// border-bottom: 1px solid var(--border);

	&_inner {
		width: 100%;
		height: 100%;
		@include flex_row(center, center);
		gap: 0 2rem;
	}
}

.RecordButton {
	@include btn();
	background-color: transparent;

	&:hover &_icon {
		fill: #fff;
	}
	&_icon {
		fill: var(--accent-bright-red);
		// fill: #fff;
	}
}
.StopButton {
	@include btn();

	&:hover &_icon {
		fill: #fff;
	}

	&_icon {
		fill: var(--accent-bright-red);
		fill: #fff;
	}
}
.PauseButton {
	@include btn();

	&:hover &_icon {
		fill: #fff;
	}

	&_icon {
		fill: #fff;
	}
}
.ResumeButton {
	@include btn();

	&:hover &_icon {
		fill: #fff;
	}

	&_icon {
		// fill: var(--accent-bright-red);
		fill: #fff;
		margin-left: 2px;
	}
}
.Time {
	width: 10rem;
	height: 3.5rem;
	border-radius: 5rem;
	border: 1px solid var(--border);
	@include flex_row(center, center);
	&_value {
		font-size: 1.5rem;
		// color: var(--accent-bright-red);
	}
}
