@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.SynthKeysPanel {
	width: 100%;
	height: 60%;

	&_inner {
		@include fill_container;
		@include flex_row(flex-start, flex-start, nowrap);
		padding: 0 1rem;
		overflow-x: hidden;
		border-radius: 0 0 1rem 1rem;
	}
}
