:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	/* Grey Tints */
	--greyTintMain: #64748b;
	--greyTint800: #728196;
	--greyTint700: #818ea1;
	--greyTint600: #909cad;
	--greyTint500: #9fa9b8;
	--greyTint400: #afb7c4;
	--greyTint300: #bec5cf;
	--greyTint200: #ced3db;
	--greyTint100: #dee2e7;
	--greyTint50: #eef0f3;

	/* BLUE-GREY SHADES */
	--blueGrey50: rgb(248, 250, 252);
	--blueGrey100: rgb(241, 245, 249);
	--blueGrey200: rgb(226, 232, 240);
	--blueGrey300: rgb(203, 213, 225);
	--blueGrey400: rgb(148, 163, 184);
	--blueGrey500: rgb(100, 116, 139);
	--blueGrey600: rgb(71, 85, 105);
	--blueGrey700: rgb(51, 65, 85);
	--blueGrey800: rgb(30, 41, 59);
	--blueGrey900: rgb(15, 23, 42);

	/* Red Shades */
	--red50: rgb(254, 242, 242);
	--red100: rgb(254, 226, 226);
	--red200: rgb(254, 202, 202);
	--red300: rgb(252, 165, 165);
	--red400: rgb(248, 113, 113);
	--red500: rgb(239, 68, 68);
	--red600: rgb(220, 38, 38);
	--red700: rgb(185, 28, 28);
	--red800: rgb(153, 27, 27);
	--red900: rgb(127, 29, 29);

	/* Purple Shades (accent: 1000|1100) */

	--purple100: rgb(255, 255, 255);
	--purple200: rgb(240, 232, 255);
	--purple300: rgb(225, 209, 255);
	--purple400: rgb(210, 186, 255);
	--purple500: rgb(195, 163, 255);
	--purple600: rgb(180, 140, 255);
	--purple700: rgb(165, 117, 255);
	--purple800: rgb(150, 94, 255);
	--purple900: rgb(135, 71, 255);
	--purple1000: rgb(120, 48, 255);
	--purple1100: rgb(105, 25, 255);
	--purple1200: rgb(95, 23, 230);
	--purple1300: rgb(84, 20, 204);
	--purple1400: rgb(74, 18, 179);
	--purple1500: rgb(63, 15, 153);
	--purple1600: rgb(53, 13, 128);
	--purple1700: rgb(42, 10, 102);
	--purple1800: rgb(32, 8, 77);
	--purple1900: rgb(21, 5, 51);
	--purple2000: rgb(10, 2, 25);
	--purple2100: rgb(0, 0, 0);

	/* Purple Background Accent(s) */
	--purpleBG100: rgb(255, 255, 255);
	--purpleBG200: rgba(253, 252, 255, 0.92);
	--purpleBG300: rgba(251, 249, 255, 0.84);
	--purpleBG400: rgba(248, 245, 255, 0.76);
	--purpleBG500: rgba(245, 239, 255, 0.68);
	--purpleBG600: rgba(240, 232, 255, 0.6);
	--purpleBG700: rgba(234, 222, 255, 0.52);
	--purpleBG800: rgba(224, 208, 255, 0.44);
	--purpleBG900: rgba(209, 184, 255, 0.36);
	--purpleBG1000: rgba(180, 140, 255, 0.28);
	--purpleBG1100: rgba(105, 25, 255, 0.2);
	--purpleBG1200: rgba(53, 13, 128, 0.28);
	--purpleBG1300: rgba(32, 8, 78, 0.36);
	--purpleBG1400: rgba(22, 5, 52, 0.44);
	--purpleBG1500: rgba(15, 4, 36, 0.52);
	--purpleBG1600: rgba(10, 2, 25, 0.6);
	--purpleBG1700: rgba(7, 2, 18, 0.68);
	--purpleBG1800: rgba(5, 1, 12, 0.76);
	--purpleBG1900: rgba(3, 1, 7, 0.84);
	--purpleBG2000: rgba(1, 0, 3, 0.92);
	--purpleBG2100: rgb(0, 0, 0);

	/* BACKGROUNDS */
	--bg100: rgb(255, 255, 255);
	--bg200: rgb(230, 230, 231);
	--bg300: rgb(205, 206, 206);
	--bg400: rgb(181, 181, 182);
	--bg500: rgb(156, 157, 157);
	--bg600: rgb(131, 132, 133);
	--bg700: rgb(106, 107, 109);
	--bg800: rgb(81, 83, 84);
	--bg900: rgb(57, 58, 60);
	--bg1000: rgb(32, 34, 35);
	--bg1100: rgb(7, 9, 11);
	--bg1200: rgb(6, 8, 10);
	--bg1300: rgb(6, 7, 9);
	--bg1400: rgb(5, 6, 8);
	--bg1500: rgb(4, 5, 7);
	--bg1600: rgb(4, 5, 6);
	--bg1700: rgb(3, 4, 4);
	--bg1800: rgb(2, 3, 3);
	--bg1900: rgb(1, 2, 2);
	--bg2000: rgb(1, 1, 1);
	--bg2100: rgb(0, 0, 0);

	/* CUSTOM VARIABLES */
	--main-bg: rgba(13, 17, 21, 0.975);
	--bg-dashboard: rgba(10, 14, 22, 1);
	--bg-editor: rgba(15, 23, 42, 1);
	--border: var(--greyTint800);
	--text-color: var(--greyTint700);

	/* MAIN ACCENTS */
	--accent: rgb(124, 58, 237);
	--alt-accent: rgb(0, 226, 189);
	/* Extra Color Accents */
	--accent-red: #ed254e;
	--accent-bright-red: #ff0066;
	--accent-purple: #8a4fff;
	--accent-blue: #009ddc;
	--accent-green: #21d19f;
	--accent-lime: #80ff72;
	--accent-bright-green: #2cda9d;
	--accent-seaweed: #00e2bd;
	--accent-yellow: #fff07c;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: var(--bg1300);
}
