@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

$size: var(--svgNotch);
$stroke: var(--svgNotchColor);

.SawtoothWave {
	width: $size;
	height: $size;

	& svg {
		width: 100%;
		height: 100%;
	}
}
